{% extends "base.html" %}

{% block content %}
    <style>
        body {
            background-color: #cce7ff;
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #003366;
            font-size: 30px;
            text-align: center;
            margin-top: 20px;
            font-family: "Poppins", sans-serif;
        }
        .doctor {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-top: 30px;
            margin-left: 410px;
        }

        .doctor li {
            margin: 10px 0;
            text-align: left; /* Aligns the text to the left */
            margin-left: 20px; /* Moves the list more to the left */
        }

        .doctor a {
            text-decoration: none;
            color: #003366;
            font-weight: bold;
            transition: color 0.3s ease, text-decoration 0.3s ease;
        }

        .doctor a:hover {
            color: #0055cc;
            text-decoration: underline;
        }
    </style>
    <h1>Doctors List</h1>
    <ol class="doctor">
        {% for doctor in doctors %}
            <li>
                <a href="{% url 'doctor_detail' doctor.id doctor.slug %}">
                    {{ doctor.user.last_name }}, {{ doctor.user.first_name }}
                </a>
            </li>
        {% empty %}
            <p>No doctors available.</p>
        {% endfor %}
    </ol>
{% endblock %}
